.middle{
	padding-top: 30px;
	min-height: 600px;
}

.seeQuestion span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url('../../images/question/u424.png');
	background-repeat: no-repeat;
	background-size: 18px 18px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.addQuestion span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url('../../images/question/u420.png');
	background-repeat: no-repeat;
	background-size: 18px 18px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.seeQuestion a{
	color: white;
	position: relative;
	padding-left: 23px;
}

.addQuestion a{
	color: white;
	position: relative;
	padding-left: 23px;
	
}

.seeQuestion a:hover{
	color: white;
	text-decoration: none;
}

.addQuestion a:hover{
	color: white;
	text-decoration: none;
}

.left>li{
	padding: 5px 0px;
	margin: 5px -15px;
}

.left>li:hover{
	background-color: rgba(154,154,154,.5);
}

.right{
	background-color: rgba(255,255,255,.8);
}

/* 删除，重命名按钮新增 */
.panel-heading>ul>li>button{
	border: none;
	background-color: white;
	color: #57B2DF;
	border: solid 1px #57B2DF;
	border-radius: 4px;
	padding: 5px 15px;
	outline: none;
}

.panel-heading>ul>li>button:hover{
	background-color: #57B2DF;
	color: white;
}


tbody td>button{
	border: none;
	background-color: white;
	color: #57B2DF;
	border: solid 1px #57B2DF;
	border-radius: 4px;
	padding: 5px 15px;
	outline: none;
}

tbody td>button:hover{
	background-color: #57B2DF;
	color: white;
}


/* 发布编辑试卷 */

.edit{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 30%;
	height: 330px;
	display: none;
}

.edit .panel-heading{
	background-color: #F3F8FF;
}

.btngroup button{
	border: none;
	background-color: white;
	color: #57B2DF;
	border: solid 1px #57B2DF;
	border-radius: 4px;
	padding: 5px 15px;
	outline: none;
}

.btngroup button:hover{
	background-color: #57B2DF;
	color: white;
}