<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/teacher/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/teacher/alter.css">
    <script type="text/javascript" src="__STATIC__/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__/js/teacher/alter.js"></script>
    {block name="head"}
    <title>教师-修改信息</title>
    {/block}
</head>

<body>
    <div class="container-fluid" style="background-image: url('{$data.skinImg}');">
        <div id="nav">
            <ul class="list-unstyled list-inline">
                <li>
                    <img src="__STATIC__/images/teacher/title.png">
                </li>
                {block name="active"}
                <li>
                    <a href="{:url('index/Question/select')}">题库管理</a>
                </li>
                {/block}
                {block name="actives"}
                <li>
                    <a href="{:url('index/Examination/see')}">试卷管理</a>
                </li>
                {/block}
                {block name="activec"}
                <li>
                    <a href="{:url('index/Course/see')}">课程管理</a>
                </li>
                {/block}
                <li class="tongzhi">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <span id="skin"></span>
                        </li>
                        <li>
                            <span id="notice"></span>
                        </li>
                        <li id="head">
                            <span class="headImg" style="background-image: url('{$data.headimg}');"></span>
                            <ul class="list-unstyled" id="xiangxi">
                                <li>
                                    <span class="headImg" style="background-image: url('{$data.headimg}');"></span>
                                    <span id="sign">{$data.sign}</span>
                                </li>
                                <li class="a">
                                    <a href="{:url('index/Teacher/personalDetails')}">个人资料</a>
                                </li>
                                <li class="a">
                                    <a href="#">修改密码</a>
                                </li>
                                <li class="a">
                                    <a href="{:url('index/Teacher/esc')}">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {block name="middle"}
        <div class="row">
            <div class="content">
                <div class="col-xs-5">
                    <div class="row text-right">
                        <div class="tx" style="background-image: url('{$data.headimg}');">
                        	<input type="file" name="file">
                            <button id="alterImg">
                                修改头像
                            </button>
                        </div>
                    </div>
                    <div class="row wenzi">
                        <p>你好啊</p>
                        <p>{$data.name}&nbsp;老师</p>
                        <p>欢迎使用创客考试系统</p>
                    </div>
                </div>
                <div class="col-xs-7">
                    <form class="form-horizontal" id="form">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">工号：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <p class="form-control-static">{$data.user}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">姓名：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <input type="text" name="name" value="{$data.name}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">性别：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="1" {$data.sex=="男"?"checked":""}> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="2" {$data.sex=="女"?"checked":""}> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">电子邮件：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <input type="text" name="email" value="{$data.email}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">院系：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <select class="form-control">
                                	{volist name="faculty" id="value"}
                                		<option value="{$value.id}" {$value.faculty_name==$data.faculty?"selected":""}>{$value.faculty_name}</option>
                                	{/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 control-label">个签：</label>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <input type="text" name="sign" value="{$data.sign}" class="form-control">
                            </div>
                        </div>
                    </form>
                    <div class="row" id="alter">
                        <a href="javascript:void(0);">保存</a>
                    </div>
                    <a href="{:url('index/Question/select')}" class="access">
						进入创客题库管理页
					</a>
                </div>
            </div>
        </div>
        {/block}
        <div class="bottom">
            <p>考试系统</p>
            <p>Copyright &copy; 2016 , 创客小组. All right reserved.</p>
        </div>
        <div id="hint"></div>
    </div>
</body>

</html>