
/* 顶部 */
.header{
	padding-top: 10vh;
	text-align: center;
}
.header>img{
	width: 30%;
}


/* 中间区域 */
.middle{
	position: relative;
	height: 400px;
}

/* 表单 */
.form{
	width: 50vw;
	height: 60vh;
	background-color: rgba(178, 136, 80, .25);
	position: absolute;
	right: 0px;
	left: 0px;
	margin: auto;
	border: solid 7px rgba(70,60,48,.7);
	border-radius: 30px;
	margin-top: 15px;
	padding-top: 10vh;
}

.form-horizontal{
	width: 70%;
	margin: 0 auto;
}

.form label{
	color: white;
	font-size: 0.99vw;
	letter-spacing: 3px;
}

.form label a{
	color: rgba(255,255,255,.7);
}

.form label a:hover{
	color: rgba(255,255,255,.9);
	text-decoration: none;
}

/* 登录按钮 */
#login{
	margin-top: 15px;
	background-color: rgba(178,136,80,1.0);
	background-image: url('../../images/login/btnlogin.png');
	background-repeat: no-repeat;
	background-size: 18vw 9vh;
	width: 18vw;
	height: 9vh;
	border: none;
	border-radius: 18px;
	font-size: 2vw;
	letter-spacing: 30px;
	text-align: center;
	padding-left: 30px;
	color: white;
	outline: none;
	font-family: "微软雅黑";
}

#login:active{
	background-image: url('../../images/login/btnlogin1.png');
}

/* 验证码 */
#captcha{
	width: 100%;
}

#captcha:hover{
	cursor: pointer;
}

.form input{
	height: 4.8vh;
}
.form select{
	height: 4.8vh;
	font-size: 1em;
	padding-top: 2%;
	padding-left: 3%;
}

.col-xs-2{
	/* min-width: 80px; */
	padding-left: 0px;
	padding-right: 0px;
}



/* 提示框 */

#hint{
	width: 15vw;
	height: 10vh;
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	border-radius: 3vh;
	display: none;
	text-align: center;
	line-height: 10vh;
	background-color: rgba(70,60,48,.7);
}
